// DO NOT CHANGE:
// load order of files below is intentional
@import 'bower_components/wikia-style-guide/src/scss/main.scss';
@import 'settings';
@import 'foundation-imports';
@import 'wikia-variables';
@import 'mixin/index';

@import 'common/placeholder/index';
@import 'base/index';
@import 'layout/index';
@import 'state/index';
@import 'theme/index';
@import 'component/index';
@import 'module/index';
