{{> nav}}
{{> hero}}

<section class="featured">
	<h1>
		人気のコミュニティ
	</h1>
	<div class="featured-carousel">
		<div>
			<img src="http://placehold.it/250x140?text=Slide+1">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+2">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+3">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+4">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+5">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+6">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+7">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+8">
		</div>
	</div>
</section>

<section class="featured">
	<h1>
		ゲーム
	</h1>
	<div class="featured-carousel">
		<div>
			<img src="http://placehold.it/250x140?text=Slide+1">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+2">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+3">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+4">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+5">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+6">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+7">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+8">
		</div>
	</div>
</section>

<section class="featured">
	<h1>
		映画・ドラマ
	</h1>
	<div class="featured-carousel">
		<div>
			<img src="http://placehold.it/250x140?text=Slide+1">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+2">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+3">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+4">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+5">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+6">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+7">
		</div>
		<div>
			<img src="http://placehold.it/250x140?text=Slide+8">
		</div>
	</div>
</section>


{{> popular}}

<section class="device-background-header">
  <p>&nbsp;</p>
</section>

<section class="device-background">
    <div class="device-text">
      <h4>ウィキアについて</h4>
      <p>無料で簡単にファンサイトが作れます</p>
      <p>
        <input type="button" value="コミュニティを立ち上げる" id="beginnersGuide">
      </p>
    </div>
    <div class="device">
      <div class="screen"></div>
    </div>
</section>

{{> footer}}
