.user-menu-hack {
	background: rgba(0,0,0,0.9);
	color: white;
	display: flex;
	flex-direction: column;
	padding: 80px 0 0 0;
	position: fixed;
	bottom: 0;
	top: -60px;
	left: -300px;
	width: 300px;
	transition: left 0.3s ease-in;
	z-index: 1000000000;

	.user-menu-header {
		align-items: center;
		display: flex;
		padding: 0 20px 20px;
		width: 100%;

		.user-avatar {
			flex: 0;
			min-width: 60px;
		}

		.user-name {
			color: white;
			font-weight: bold;
			flex: 1;
		}
	}

	.drawer {
		list-style: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		width: 100%;

		a {
			@extend .touch-active;
			display: block;
			overflow: hidden;
			padding: rem-calc(10) $side-nav-item-gutter;
			text-overflow: ellipsis;
			width: 100%;
		}

		li {
			background-color: #fff;
			border-bottom: rem-calc(1) solid #d0d0d0;
		}
	}

	&.is-open {
		left: 0;
	}

	.overlay {
		@include perfect-square(100%);
		background-color: transparent;
		left: 0;
		position: fixed;
		top: 0;
		z-index: $z-side-nav-overlay;
	}
}
